[submodule "turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
[submodule "turtlebot3_msgs"]
	path = src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "turtlebot3_simulations"]
	path = src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations
[submodule "src/ds4drv"]
	path = src/ds4drv
	url = https://github.com/naoki-mizuno/ds4drv
[submodule "src/ds4_driver"]
	path = src/ds4_driver
	url = https://github.com/naoki-mizuno/ds4_driver.git
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "src/ar_track_alvar"]
	path = src/ar_track_alvar
	url = https://github.com/ros-perception/ar_track_alvar.git
[submodule "src/gazebo2rviz"]
	path = src/gazebo2rviz
	url = https://github.com/andreasBihlmaier/gazebo2rviz
[submodule "src/pysdf"]
	path = src/pysdf
	url = https://github.com/andreasBihlmaier/pysdf
[submodule "src/bebop_vel_ctrl"]
	path = src/bebop_vel_ctrl
	url = https://github.com/AutonomyLab/bebop_vel_ctrl.git
[submodule "src/pid"]
	path = src/pid
	url = https://bitbucket.org/AndyZe/pid.git
